@import '~@standardnotes/stylekit/dist/stylekit.css';

body,
html {
  background-color: transparent;
  background-color: var(--sn-stylekit-background-color);
  margin: 15px;
  padding: 0;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sn-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (max-width: 420px) {
    min-height: -webkit-fill-available;
  }

  .ml-3 {
    margin-left: 0.75rem;
  }

  .mr-3 {
    margin-right: 0.75rem;
  }
}
